/* ==================================================================
    Cover
================================================================== */

.cover-container {
  max-width: 54em;
  height: 50vh;
  margin-top: 5%;
  padding-bottom: 15%;
}

@media (max-width: 1400px) {
  .cover-container {
    margin-top: 0em;
    padding-bottom: 15%;
  }
}

.lead {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.cover-mug {
  text-align: center;
}

.cover-mug img {
  width: 30%;
  min-width: 75px;
  max-width: 150px;
  border-radius: 50%;
  padding-bottom: 1.5em;
  margin-top: 20%;
}

.cover-lead {
  padding-bottom: 1.5em;
  text-align: center;
}

.cover-container h1 {
  font-size: 28px;
  padding-bottom: 0.5em;
  border-bottom: 3px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

/* ==================================================================
    Notes
================================================================== */

ul.notes {
  list-style: none;
  padding-left: 0;
}

li span.note {
  float: right;
  color: #767676;
  padding-left: 30px;
  font-size: 90%;
}

span.note-descr {
  font-style: italic;
  font-size: 90%;
}

/* ==================================================================
    Bio
================================================================== */

.bio {
  max-width: 54em;
}

.bio ul {
  list-style: none;
}

/* ==================================================================
    Tags
================================================================== */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag a {
  margin: 0em 0em 0em 1em;
  padding: 0em 0em 0em 1em;
}

.tag span {
  margin: 0em 1em 0em 0em;
  padding: 0em 1em 0em 0em;
}

@media (max-width: 1400px) {
  .tag span {
    margin: 0em;
    padding: 0em 1em 0em 0em;
  }
  .tag a {
    margin: 0em;
    padding: 0em;
  }
}

/* ==================================================================
    Social
================================================================== */

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.social-icon {
  text-align: center;
  padding: 1em 0.25em;
}

.social-icon a {
  color: #004de6;
  transition: color 0.3s ease;
}

.social-icon a:hover {
  color: black;
}

@media (max-width: 1400px) {
  .social-container {
      padding: 0em;
    }
}

/* ==================================================================
    Fonts
================================================================== */

@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:400;
  src:url(../assets/fonts/Inter-UI-Regular.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Regular.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:400;
  src:url(../assets/fonts/Inter-UI-Italic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Italic.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:600;
  src:url(../assets/fonts/Inter-UI-Medium.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Medium.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:600;
  src:url(../assets/fonts/Inter-UI-MediumItalic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-MediumItalic.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:800;
  src:url(../assets/fonts/Inter-UI-Bold.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Bold.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:800;
  src:url(../assets/fonts/Inter-UI-BoldItalic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-BoldItalic.woff) format("woff")
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-RegularLatin.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
  unicode-range: U+00-7F; /* Basic Latin characters */
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-BoldLatin.woff2") format("woff2");
  font-display: auto;
  font-weight: 700;
  unicode-range: U+00-7F; /* Basic Latin characters */
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-Regular.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-Bold.woff2") format("woff2");
  font-display: auto;
  font-weight: 700;
}
