/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --small:            14px;
  --medium:           16px;
  --normal:           20px;
  /* Tokyonight begin */
  --color-background: #24283b;
  --color-foreground: #c0caf5;
  --color-alt-text:   #a9b1d6;
  --color-black:      #1d202f;
  --color-red:        #f7768e;
  --color-green:      #9ece6a;
  --color-yellow:     #e0af68;
  --color-blue:       #7aa2f7;
  --color-purple:     #bb9af7;
  --color-cyan:       #7dcfff;
  --color-grey-light: #a9b1d6;
  --color-grey-dark:  #414868;
  --color-orange:     #ff9e64;
  /* Tokyonight end */

  /* Nord begin */
  /* --color-background: #3B4252; */
  /* --color-foreground: #ECEFF4; */
  /* --color-alt-text:   #D8DEE9; */
  /* --color-black:      #2E3440; */
  /* --color-red:        #BF616A; */
  /* --color-green:      #8FBCBB; */
  /* --color-yellow:     #EBCB8B; */
  /* --color-blue:       #81A1C1; */
  /* --color-purple:     #B48EAD; */
  /* --color-cyan:       #88C0D0; */
  /* --color-grey-light: #4C566A; */
  /* --color-grey-dark:  #434C5E; */
  /* --color-orange:     #D08770; */
  /* Nord end */

  /* Mac Dark begin */
  /* --color-background: rgb(22, 22, 24); */
  /* --color-foreground: rgb(255, 255, 255); */
  /* --color-alt-text:   rgb(129, 129, 129); */
  /* --color-black:      rgb(0, 0, 0); */
  /* --color-red:        rgb(255, 65, 54); */
  /* --color-green:      rgb(49, 222, 75); */
  /* --color-yellow:     rgb(255, 212, 38); */
  /* --color-blue:       rgb(64, 156, 255); */
  /* --color-purple:     rgb(218, 143, 255); */
  /* --color-cyan:       rgb(112, 215, 255); */
  /* --color-grey-light: rgb(152, 152, 157); */
  /* --color-grey-dark:  rgb(97, 97, 101); */
  /* --color-orange:     rgb(255, 179, 64); */
  /* Mac Dark end */

  /* Color Blind begin */
  /* --color-background: rgb(97, 97, 101); */
  /* --color-foreground: rgb(245, 245, 245); */
  /* --color-alt-text:   #44aa99; */
  /* --color-black:      #000; */
  /* --color-red:        #882255; */
  /* --color-green:      #117733; */
  /* --color-yellow:     #ddcc77; */
  /* --color-blue:       #332288; */
  /* --color-purple:     #aa4499; */
  /* --color-cyan:       #88ccee; */
  /* --color-grey-light: rgb(152, 152, 157); */
  /* --color-grey-dark:  rgb(97, 97, 101); */
  /* --color-orange:     #cc6677; */
  /* Color Blind end */
}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-family: InterUI;
  font-size: var(--normal);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .left {
  float: left;
  margin-right: 15px;
}

.franklin-content .right {
  float: right;
}

.franklin-content .container img {
  width: auto;
  padding-left: 0;
  border-radius: 10px;
}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
  text-decoration: none;
  color: var(--color-cyan);
  /* text-decoration: underline; */
}

.page-foot {
  font-size: 80%;
  font-family: InterUI;
  color: var(--color-alt-text);
  text-align: center;
  margin-top: 6em;
  border-top: 1px solid var(--color-grey-dark);
  padding-top: 2em;
  margin-bottom: 4em;
}

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-toc li {
  /* Avoid clickable elements being too close together. */
  margin: 0.6rem 0;
}

.franklin-content {
  position: relative;
  padding-left: 12.5%;
  padding-right: 12.5%;
  line-height: 1.35em;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { font-size: xxx-large; }
.franklin-content h2 { font-size: xx-large; }
.franklin-content h3 { font-size: x-large; }

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  line-height: 1.2em;
}

.franklin-content h1,
h2 {
  color: var(--color-purple);
  padding: auto;
}

.franklin-content h3,
h4,
h5,
h6 {
  color: var(--color-blue);
}

.franklin-content h1 {
  padding-bottom: 0.5em;
  border-bottom: 3px double var(--color-grey-dark);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.franklin-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--color-grey-dark);
  margin-top: 2em;
  margin-bottom: 1em;
}

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover { text-decoration: none; }
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover { text-decoration: none; }
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover { text-decoration: none; }
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover { text-decoration: none; }
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover { text-decoration: none; }
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover { text-decoration: none; }

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-toc ol ol {
  list-style-type: lower-alpha;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid var(--color-black);
}

.franklin-content blockquote {
  background: var(--color-black);
  border-left: 7px solid var(--color-grey-dark);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 10px 0;
}

.franklin-content a {
  color: var(--color-cyan);
  text-decoration: none;
}

.franklin-content a:hover {
  text-decoration: underline;
  color: var(--color-yellow);
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: var(--color-green); }
.franklin-content .bibref a { color: var(--color-green); }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-grey-dark);
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid var(--color-grey-dark);
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
  color: var(--color-alt-text);
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
  width: 70%;
  text-align: center;
  padding-left: 10%;
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--color-black);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--medium);
  font-family: JuliaMono;
}

.hljs {
  font-size: var(--medium);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta,
.hljs-metas,
.hljs-metap { font-weight: bold; }

.hljs-meta { color: var(--color-green); }

.hljs-metas { color: var(--color-red); }

.hljs-metap { color: var(--text-color-alt); }

.code-output {
  background: var(--color-black);
  border: 1px groove var(--color-grey-dark);
  font-family: JuliaMono;
  font-variant: oldstyle-nums;
}

.hljs {
  display: block;
  overflow-x: auto;
  /*padding: 0.5em;*/
  background: var(--color-black);
}

.hljs,
.hljs-subst {
  color: var(--color-foreground);
}

/* Red */
.hljs-deletion,
.hljs-formula,
.hljs-link,
.hljs-selector-tag {
  color: var(--color-red);
}

/* Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-function,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: var(--color-blue);
}

/* Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: var(--color-yellow);
}

/* Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-link_label,
.hljs-literal {
  color: var(--color-purple);
}

/* Orange */
.hljs-code,
.hljs-number,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: var(--color-orange);
}

/* Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: var(--color-green);
}

/* Cyan */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-meta,
.hljs-selector-pseudo,
.hljs-tag {
  color: var(--color-cyan);
}

/* Grey */
.hljs-comment {
  color: var(--color-grey-dark);
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}

/*

Some modifications taken from github.css

*/
.hljs-title, .hljs-class {
    font-weight: 700;
}

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: var(--color-black);
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px dotted var(--color-blue);
}

/* ==================================================================
    Header and Nav
================================================================== */

nav {
  width: 64%;
  display: inline-block;
  font-family: JuliaMono;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: var(--color-cyan);
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  display: inline-block;
  /* float: center; */
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  border-bottom: 2px solid var(--color-cyan);
  transition: color 0.35s ease;
}

header {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

header .blog-name {
  width: 55%;
  display: inline-block;
  text-align: left;
  font-size: x-large;
  font-family: JuliaMono;
  padding-top: 10px;
}

header .blog-name a {
  font-size: x-large;
  color: var(--color-grey-light);
  text-decoration: none;
}

header li a:hover {
  color: var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
}

#menu-icon {
  display: none;
  font-size: x-large;
  color: var(--color-alt-text);
}

@media (max-width: 480px) {
  header {
    font-size: var(--small);
    padding-left: 6%;
    padding-right: 6%;
  }
  header .blog-name a {
    font-size: var(--normal);
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  header .blog-name a {
    font-size: var(--normal);
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
  header .blog-name a {
    font-size: x-large;
  }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header { display: block; }
  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
  nav {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    display: inline-block;
    width: 27%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;

    /* padding: 20px; */
    /* background: #fff; */
    /* border: 1px solid #444; */
    right: 30px;
    top: 90px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: var(--color-black);
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid var(--color-black);
}

table tbody tr td {
  border: 1px solid var(--color-black);
}

/* ==================================================================
    Cover
================================================================== */

.cover p {
  margin: 0em;
  text-align: center;
}

.cover img {
  /* width: 350px; */
  /* min-width: 250px; */
  max-width: 240px;
  border-radius: 50%;
  padding: 0;
  margin-top: 15%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  vertical-align: middle;
}

.cover h1 {
  font-size: 75px;
  font-family: JuliaMono;
  font-weight: lighter;
  line-height: 1em;
  padding-bottom: 0em;
  border-bottom: 0em;
  margin-top: 0.5em;
  margin-bottom: auto;
  text-align: center;
  color: var(--color-alt-text);
}

.cover a {
  transition: color 0.5s ease;
}

@media (max-width: 900px) {
  .cover img {
    max-width: 150px;
    margin-top: 0;
  }

  .cover h1 {
    font-size: 45px;
    margin-bottom: revert;
  }

}

/* ==================================================================
    Posts
================================================================== */

ul.posts {
  list-style: none;
  padding-left: 0;
}

.posts h2 {
  border-bottom: hidden;
}

.posts a {
  font-size: larger;
}

.posts span {
  font-weight: lighter;
}

li span.post {
  float: right;
  color: var(--color-foreground);
  padding-left: 30px;
  font-size: larger;
}

span.post-descr {
  display: block;
  font-style: italic;
  font-size: medium;
  color: var(--color-alt-text);
}

/* ==================================================================
    Bio
================================================================== */

.bio {
  max-width: 54em;
}

.bio h2 {
  border-bottom: hidden;
}

.bio ul {
  list-style: none;
}

/* ==================================================================
    Tags
================================================================== */

.tag-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.tag {
  color: var(--color-grey-light);
}

.tag a {
  font-size: x-large;
  margin: 0em 0em 0em 0.25em;
  padding: 0em 0em 0em 0.25em;
}

.tag span {
  font-size: large;
  margin: 0em 1em 0em 0em;
  padding: 0em 1em 0em 0em;
}

.tag i {
  font-size: x-large;
}

@media (max-width: 900px) {
  .tag a {
    margin: 0em 0em 0em 0.15em;
    padding: 0em 0em 0em 0.15em;
  }
}

/* ==================================================================
    Social
================================================================== */

.social-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1em;
}

.social-icon {
  text-align: center;
  padding: 0.25em 1em;
  font-size: xxx-large;
}

.social-icon a {
  transition: color 0.5s ease;
}

@media (max-width: 900px) {
  .social-container {
    display: contents;
    padding: 0em 0.125em;
  }
  .social-icon {
    font-size: xx-large;
  }
}

/* ==================================================================
    Fonts
================================================================== */

@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:400;
  src:url(../assets/fonts/Inter-UI-Regular.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Regular.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:400;
  src:url(../assets/fonts/Inter-UI-Italic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Italic.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:600;
  src:url(../assets/fonts/Inter-UI-Medium.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Medium.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:600;
  src:url(../assets/fonts/Inter-UI-MediumItalic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-MediumItalic.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:normal;
  font-display:auto;
  font-weight:800;
  src:url(../assets/fonts/Inter-UI-Bold.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-Bold.woff) format("woff")
}
@font-face {
  font-family: InterUI;
  font-style:italic;
  font-display:auto;
  font-weight:800;
  src:url(../assets/fonts/Inter-UI-BoldItalic.woff2) format("woff2"),
  url(../assets/fonts/Inter-UI-BoldItalic.woff) format("woff")
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-RegularLatin.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
  unicode-range: U+00-7F; /* Basic Latin characters */
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-BoldLatin.woff2") format("woff2");
  font-display: auto;
  font-weight: 700;
  unicode-range: U+00-7F; /* Basic Latin characters */
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-Regular.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: JuliaMono;
  src: url("../assets/fonts/JuliaMono-Bold.woff2") format("woff2");
  font-display: auto;
  font-weight: 700;
}
