/*-- scss:defaults --*/

$white:    #fff !default;
$gray-900: #fafafa !default;
$gray-800: #f6f5f4 !default;
$gray-700: #deddda !default;
$gray-600: #c0bfbc !default;
$gray-500: #9a9996 !default;
$gray-400: #77767b !default;
$gray-300: #5e5c64 !default;
$gray-200: #323232 !default;
$gray-100: #282828 !default;
$black:    #1e1e1e !default;

$blue:    #62a0ea !default;
$indigo:  #c061cb !default;
$purple:  #dc8add !default;
$pink:    #f66151 !default;
$red:     #ed333b !default;
$orange:  #ffa348 !default;
$yellow:  #f8e45c !default;
$green:   #57e389 !default;
$teal:    #8ff0a4 !default;
$cyan:    #99c1f1 !default;

$primary:    $blue !default;
$secondary:  $gray-200 !default;
$success:    $primary !default;
$info:       $cyan !default;
$warning:    $yellow !default;
$danger:     $red !default;
$light:      $gray-900 !default;
$dark:       $gray-100 !default;

$navbar-bg:  $secondary !default;
$navbar-fg:  $light !default;

$body-bg:    $dark !default;
$body-color: $light !default;

$link-color: $primary !default;

$card-bg: $secondary !default;
$card-border-color: $secondary !default;

$code-color: $cyan !default;
$code-block-font-size: medium !default;

/*-- scss:rules --*/

.cell .cell-output pre code {
    font-size: medium;
}
